@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains CSS for HTML LINK Tags.
// -----------------------------------------------------------------------------

/* A */
a {

    &,
    &:link {
        color: #{semantic-color("--th-color-highlight")};
        text-decoration: none;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active,
    &:visited:active {
        color: #{semantic-color("--th-color-white")};
        background-color: #{semantic-color("--th-color-highlight")};
        font-weight: bolder;
    }

    &:visited {
        color: #{semantic-color("--th-color-highlight", "darker")};
    }
}

/* LINK */

/* NAV */