{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "exclude": ["**/node_modules/**"],
  "extensions": [".js", ".jsx", ".ts", ".tsx", ".scss", ".json"]
}
